<!-- this is a very simple single page application using AzureAD -->
<!-- for demonstration, this page is placed inside spring boot project, but it can be placed in any web server. -->
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">
    <script src="https://secure.aadcdn.microsoftonline-p.com/lib/1.0.17/js/adal.min.js"></script>
  </head>
  <body>
    <div id="val1" th:text="${message}" hidden></div>
    <div id="val2" th:text="${message2}" hidden></div>
    <div class="bg-image"></div>
    <div class="bg-text">
      <div id="info" >N/A</div>
      <button class="button button1" onClick="login()">Login</button>
      <br>
      <button onClick="logout()">Logout</button>
          <div id="result">no call yet.</div>
          <br/>
    </div>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
  </body>
</html>